<p id="notice"><%= notice %></p>

<h1>Listing Shiires</h1>

<table>
  <thead>
    <tr>
      <th>Kai code</th>
      <th>Sir code</th>
      <th>Sir name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shiires.each do |shiire| %>
      <tr>
        <td><%= shiire.kai_code %></td>
        <td><%= shiire.sir_code %></td>
        <td><%= shiire.sir_name %></td>
        <td><%= link_to 'Show', shiire %></td>
        <td><%= link_to 'Edit', edit_shiire_path(shiire) %></td>
        <td><%= link_to 'Destroy', shiire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shiire', new_shiire_path %>
